version: "3"

services:
  log_tp:
    container_name: logfile_tp
    image: log2disc:latest
    restart: unless-stopped
    environment:
      - BOTNAME=IM_COOL_BOT
      - WEBHOOK_URL=replace_me
      - CLOGFILE=27910.log
    volumes:
      - /opt/aqtion/logs:/opt/aq2_log2disc/logs
      
